
@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .company-list {
        flex-direction: row;
    }
    .menu-open {
        left:88%;
    }

    .hero-title {
        font-size: 36px;
        width:320px;
    }

    .email-footer {
        width: 398px;
    }

    .footer-button {
        transform: translateX(65%);
    }
}