:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#E7E9FC;
    --accent-color: #4D5AE5;
    --paragraph-text-color: #434455;
    --primary-button-color: #404BBF;
    --hero-text-color: #FFFFFF;
    --team-background-color: #F4F4FD;

}

body {font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);

}
/*Header*/
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color);
    margin-right: 123px;
    position: relative;
}

.menu-open {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 18px;
    left: 83%;
    cursor: pointer;
}


.accent{
    color: var(--accent-color);
}

.logo {
    text-decoration: none;
}


.list {
    list-style: none;
}
.nav-list {
    display: none;
}

.address-list {
    display: none;
}

.header {
    padding: 16px 24px;
}


.list-button{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
color: var(--accent-color);
cursor: pointer;
padding: 12px 24px;
border: 1px solid #E7E9FC;
border-radius: 4px;
transition-property: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button:hover, .list-button:focus{
    background-color: var(--accent-color);
    color:var(--hero-text-color) ;
    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.list-button.primary{
    color:var(--hero-text-color);
    background-color: var(--primary-button-color);
    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}



/*Section*/
.visually-hidden{
    position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.range-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}

.services-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-text-color);
    
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.services-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 8px;
}


/*Footer*/


.footer-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);
width: 264px;
}

.logo-footer{
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--team-background-color);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.logo-footer{
    text-decoration: none;
}

.accent{
    color: var(--accent-color);
}

.container-nav {
    display: flex;
    align-items : center;
    justify-content: space-between;
}

/*Main Page*/

.hero-title {
font-size: 20px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: var(--hero-text-color);
width: 290px;
margin: 0 auto;
}

.hero-button{
font-family: inherit;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--hero-text-color);
background-color: var(--accent-color);
cursor: pointer;
margin:0 auto;
margin-top: 72px;
padding: 8px 16px;
border-radius: 4px;
border-color: transparent;
transition-property: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
    background-image: linear-gradient(to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-title {
    background-image: linear-gradient(to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob-2x.jpg);
  }
}


.hero-container{
    padding-bottom: 112px;
    padding-top: 112px;
}



.hero-button:hover, .hero-button:focus{
    background-color: var(--primary-button-color);
}

.hero-sub-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.hero {
    padding-top: 96px;
    padding-bottom: 120px;
}

.hero-list {
    margin-bottom: 72px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
}

.hero-item {
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.paragraph-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;
color:var(--paragraph-text-color)
    }

.team-title{

font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
background-color: var(--team-background-color);
margin-bottom: 72px;
}

.team-list{
    background-color: var(--team-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-wrap {
    padding-top: 96px;
    padding-bottom: 128px;
    background-color:#F4F4FD ;
}


.team-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-position{

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--paragraph-text-color);
}

.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;

}

.customers-title{

font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
margin-bottom: 72px;
}


    .company-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 72px;
        column-gap: 16px;
    }
    


.company-list-item {
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition-property: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.company-list-item:is(:hover, :focus) {
border-color: #404BBF;
}

.company-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.use-icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.use-icon {
    fill: #8E8F99;
}

.company-icon-link:is(:hover, :focus) {
    border-color: #404BBF;
}

.company-icon-link:is(:hover, :focus) .use-icon {
    fill: #404BBF;
}



p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.webstudio-items {
    padding-top: 96px;
    padding-bottom: 96px;
}


.services-section {
    display: none;
}



.portfolio-images {
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 48px;
}

.services-item {
    border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
    position: relative;
    cursor: pointer;
}

.services-item-unit{
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.services-item-unit:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.services-item-unit:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}


.webstudio-picture {
    display: none;
}



.team-item-wrap {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
gap: 8px;
border-radius: 0px 0px 4px 4px;
  
}

.team-image-item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.team-image-item:last-child {
    margin-bottom: 0px;
}

.team-section {
    background-color: var(--team-background-color);
    
}

.team-social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item{
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.team-social-link:hover {
    background-color: #404BBF;
}

.team-social-link:focus {
    background-color: #404BBF;
}



.footer{
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--primary-text-color);
}

.media-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
display: flex;
justify-content: center;
margin-bottom: 16px;
}

.soc-media {
    display: flex;
    flex-direction: column;
    
    margin-top: 72px;
}


.footer-social-list {
    display: flex;
    justify-content: center;
    gap:16px;
}

.footer-social-item{
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-link:hover {
    background-color: #31D0AA;
}

.footer-social-link:focus {
    background-color: #31D0AA;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#2E2F4266;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    width: 220px;
    min-height: 400px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 60px 24px;
    padding-bottom: 24px;
    transition: transform 500ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(0);
}

.modal-close {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 24px;
    padding: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover{
    background: #404BBF;
border: 1px solid rgba(0, 0, 0, 0.1);
fill: #E7E9FC;
}

.modal-close:focus{
    background: #404BBF;
border: 1px solid rgba(0, 0, 0, 0.1);
fill: #E7E9FC;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.services-cover-text{
position: absolute;
top: 0;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#F4F4FD;
background-color: #4D5AE5;
padding: 40px 32px;
height: 100%;
transform: translateY(100%);
transition: transform 300ms linear;
}

.services-cover-wrap {
    position: relative;
    overflow: hidden;
}

.services-item:hover .services-cover-text{
transform: translateY(0);
}

.services-item:focus{
    transform: translateY(0);
}

.modal-title {
font-weight: 400;
font-size: 13px;
line-height: 1.5;
color: #2E2F42;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.modal-input {
width: 180px;
height: 40px;
background: #FCFCFC;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 8px;
font-weight: 400;
font-size: 12px;
line-height: 1.16px;
letter-spacing: 0.04em;
color: #8E8F99;
padding-left: 30px;
outline: transparent;
}

.input-title {
font-weight: 400;
font-size: 9px;
line-height: 1.16;
display: inline-block;
margin-bottom: 4px;
letter-spacing: 0.04em;
color: #8E8F99;
}

.modal-field{
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    bottom: 35px;
    transform: translate(-50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color:var(--accent-color);
}

.modal-input:focus + .modal-icon {
    fill: var(--accent-color);
}

.modal-message{
    width: 180px;
    height: 120px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    padding:8px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 16px;
    
}

.modal-message:focus{
    border-color: var(--accent-color);
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-label{
    position: relative;
}

.modal-button{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 32px;
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 109px;
    height: 40px;
    border-color: transparent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button:hover {
    background-color: #404BBF;
}

.check-text {
    font-weight: 400;
font-size: 8px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #757575;
display: flex;
flex-shrink: 0;
align-items: center;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 12px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    
}

.input-check:checked + .check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-check:focus + .check-text::before {
    border-color:#404BBF;
}

.check-box {
    margin-bottom: 24px;
}

.policy-link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.16;
text-align: justify;
letter-spacing: 0.04em;
    
}

.email-footer {
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 300px;
Height:40px;
background-color: #2E2F42;
padding: 16px 8px;
position: relative;

}



.footer-button {
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    border-color: transparent;
    max-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transform: translateX(45%);
    cursor: pointer;
}

.footer-button:hover, .footer-button:focus {
    background-color: #404BBF;

}

.subscribe-wrap {
    margin-top: 72px;
    position: relative;

}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-menu {
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 796px;
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 40px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.mob-close {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    position: absolute;
    left: 88%;
    top: 24px;
    padding: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
text-decoration: none;
display: block;
}

.mob-nav.current {
   color: #404BBF;
}

.mob-nav:hover, .mob-nav:focus {
    color: #404BBF;
}

.mob-list {
    margin-top: 32px;
}

.mob-list-item {
    width: 0;
}

.mob-list-item:not(:last-child){
    margin-bottom: 40px;
}

.mob-tel {
text-decoration: none;
font-weight: 700;
font-size: 25px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.cell-tel {
    margin-bottom: 40px;
}

.mob-tel.current{
    color: var(--accent-color);
}

.mob-address-list {
    margin-bottom: 48px;
}

.mob-social-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mob-mail {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-decoration: none;
letter-spacing: 0.02em;
color: #434455;
}

.mob-mail:hover, .mob-mail:focus {
    color: var(--accent-color);
}

.mob-menu .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

